@media only scree and (min-width: 1080px) {

  .App {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    background-color: hsl(217, 100%, 97%);
  }
}

@import "AppMobile.css"