@media only screen and (min-width: 1080px) {

  .App {
      display: grid;
      height: fit-content;
      grid-template-rows: auto;
      background: white;
      padding: 15px;
      border-radius: 15px;
      box-shadow: 0 10px 15px #0001;
      grid-template-columns: max-content 4vw max-content 4vw;
  }

  header {
      grid-column: 1;
  }

  main {
      grid-column: 3;
      height: 100%;
  }

  footer {
      position: absolute;
      bottom: 10px;
      justify-self: center;
  }
}

@import "AppMobile.css";