@font-face {
    font-family: 'Ubuntu';
    src: url('../assets/fonts/Ubuntu-Regular.ttf') format('truetype');
    font-weight: 400;
}

@font-face {
    font-family: 'Ubuntu';
    src: url('../assets/fonts/Ubuntu-Medium.ttf') format('truetype');
    font-weight: 500;
}

@font-face {
    font-family: 'Ubuntu';
    src: url('../assets/fonts/Ubuntu-Bold.ttf') format('truetype');
    font-weight: 700;
}

.App {
    display: grid;
    font-family: 'Ubuntu', serif;
    height: 100%;
    grid-template-rows: 100px max-content; 
}

.Sidebar { 
    display: grid;
}

.FormProgress { 
    grid-row: 1;
    grid-column: 1 / span 2;
    justify-self: center;
    padding-top: 30px;
}