.Form {
    display: grid;
}

.FormGroup {
    background: white; 
    grid-column: 1;
    margin: 0 20px;
    padding: 25px;
}

.ButtonWrapper {
    position: fixed;
    background: hsl(231, 100%, 99%);
    width: 100%;
    padding: 15px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    bottom: 0; 
    grid-column: 1;
}

@media only screen and (min-width: 1080px) {

    .Form {
        height: 100%;
    }

    .FormGroup {
        width: 100%;
        margin: 0;
        padding: 2vw 0;
    }   

    .ButtonWrapper {
        position: relative;
        align-self: end;
        justify-self: end;
        background: none;
        width: fit-content;
        padding-right: 0;
    }
}