h1 {
    color: hsl(213, 96%, 18%);
}

p {
    color: hsl(230, 7%, 51%);
    margin-bottom: 10px;
}

.FormGroup {
    border-radius: 10px;
    box-shadow: 0 10px 15px #0001;
}

.PersonalInfo form {
    display: flex;
    flex-direction: column;
}

@media only screen and (min-width: 1080px) {
    
    p {
        margin: 5px 0 25px;
    }

    .FormGroup {
        box-shadow: none;
    }
}