h2 {
    color: hsl(213, 96%, 18%);
    font-size: 1.45rem;
}

p {
    color: hsl(230, 7%, 51%);
    margin-bottom: 10px;
    margin-top: 10px;
}

.FormGroup {
    border-radius: 10px;
    box-shadow: 0 10px 15px #0001;
}

@keyframes fade {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

.FormGroup form {
    display: flex;
    flex-direction: column;
    animation: fade 400ms linear;
}

@media only screen and (min-width: 1080px) {
    
    p {
        margin: 5px 0 25px;
    }
    
    .FormGroup {
        min-width: 500px;
        box-shadow: none;
    } 
}