*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html, body, #root {
  height: 100%;
}

#root {
  background: hsl(217, 100%, 97%);
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

header, main, footer {
  height: fit-content;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

#root, #__next {
  isolation: isolate;
}

.attribution {
  margin-top: 15px;
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

@media only screen and (orientation: landscape) and (max-width: 1079px) {
  #root {
    min-height: 225%;
  }
}

@media only screen and (min-width: 1080px) {
  #root {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}