.Sidebar {
    display: grid;
}

.Sidebar picture {
    display: grid;
    grid-row: 1;
    grid-column: 1 / span 2;
    height: 100%;
}

.Sidebar img {
    width: 100%;
} 

h1 {
    visibility: hidden;
    position: absolute;
}

@media only screen and (min-width: 1080px) {

    .Sidebar {
        height: 100%;
    }

    .Sidebar picture {
        height: 100%;
    } 
}